#submit{
    background-color: #e81cc3;
    padding: 10px 20px;
    border-radius: 10px;
}
#calculate-btn{
    background-color: #e81cc3;
}
#save-btn{
    background-color: #e81cc3;
}
#login-submit{
    background-color: #e81cc3;
}